# ===========================
# Maven
# ===========================
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# ===========================
# IDE - IntelliJ
# ===========================
.idea/
*.iws
*.iml
*.ipr

# ===========================
# IDE - VS Code
# ===========================
.vscode/

# ===========================
# IDE - Eclipse
# ===========================
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# ===========================
# Java
# ===========================
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*

# ===========================
# Spring Boot
# ===========================
application-local.properties
application-local.yml

# ===========================
# Variáveis de ambiente
# ===========================
.env
.env.local
.env.*

# ===========================
# Logs
# ===========================
*.log
logs/
spring.log

# ===========================
# Sistema Operacional
# ===========================
.DS_Store
Thumbs.db